*{
    padding: 0%;
    margin: 0%;
}
.contenedor-modals{
    min-width: 30vw;
    min-height: 30vh;
    background-color: gray;
    color: aliceblue;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
